body {
  background:
  url("../photos/pattern.png");

  font-family: Arial;
  line-height: 1.5;
  font-size: 25px;
  margin: 0 40px;
  padding: 2px 10px;
}
a {
  text-decoration: none;
}
h1, h2 {
  text-align: center;
}
#side {
  transform: translateY(-200px);
}
.texta {
  font-size: 40px;
}
.content {
  overflow: hidden;
  width: 65%;
  height: 30%;
  margin: 80px auto;
  padding: 20px;
  text-align: center;

  background-color:
  #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px
  #ccc
}

.photos {
  display: block;
  margin: 0 auto;
  width: 25% auto;
}
.sidebar {
overflow: auto;
width: 16%;
height: 30%;
margin: 30px;
padding: 20px;
float: left;
display: inline-block;

background-color:
#fff;
border-radius: 10px;
box-shadow: 0 5px 10px
#ccc

}
.text {
  font-family: Arial;
  text-align: center;
  }

.card2  {
  width: 21%;
  height: 30%;
  margin: 50px auto;

}
.photod {
  display: block;
  margin: 0 auto;
  background-color:
  #fff;
  padding 20px auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px
}
.card {
  width: 60%;
  height: 30%;
  margin: 0 auto;

  background-color:
  #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px
  #ccc
}
.photo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}
.link {
    font-size: 20px;
    margin: 50px 50px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid rgb(148,0,211);
    background-color: rgb(148,0,211);
    color: white;
    border-radius: 5px;
